<%- include ('../partials/header') %>

    <main>
        <div class="container">


            <main>
                <div class="container">
                    <% cols=1; let rows=Math.round(projects.length/cols); %>
                        <% let p=0; %>
                            <% for (let r=0; r < cols; r++) { %>
                                <div class="row g-0">

                                    <% projects.forEach(function(project) { %>
                                        <% let projectName="" ; %>

                                            <div class="col-md-4 g-1">

                                                <div class="card" style="width: 18rem;">
                                                    <div class="card-body">

                                                        <h5 class="card-title">
                                                            <%= project.project_name %>
                                                        </h5>

                                                        <a href="/project/<%=project.project_id%>"
                                                            class="btn btn-primary">View
                                                            details</a>
                                                    </div>
                                                </div>

                                            </div>
                                            <% }); %>
                                </div>
                                <%} %>

                </div>
            </main>

            <%- include ('../partials/footer') %>