<%- include ('../partials/header') %>

<main>
  <center>
    <table>
      <tr>
        <td colspan = "3">
          <h5>Incomplete Courses:&emsp;</h5>
        </td>
      </tr>
      <tr>
        <th>Name:&emsp;</th>
        <th>Description:&emsp;</th>
        <th>Estimated Time:&emsp;</th>
      </tr>
      <tr>
        <td>NAME OF COURSE&emsp;</td>
        <td>DESCRIPTION OF COURSE&emsp;</td>
        <td>TIME EST&emsp;</td>
      </tr>
    </table>
    <font size = "+50">&emsp;</font>
    <table>
      <tr>
        <td colspan = "3">
          <h5>Completed Courses:&emsp;</h5>
        </td>
      </tr>
      <tr>
        <th>Name:&emsp;</th>
        <th>Description:&emsp;</th>
        <th>Estimated Time:&emsp;</th>
      </tr>
      <tr>
        <td>NAME OF COURSE&emsp;</td>
        <td>DESCRIPTION OF COURSE&emsp;</td>
        <td>TIME EST&emsp;</td>
      </tr>
    </table>
  </center>
</main>

<%- include ('../partials/footer') %>