<%- include ('../partials/header') %>

    <main>
        <center>
            <font size="+50">&emsp;</font>
            <table>
                <tr>
                    <td>
                        <h5>Your Information&emsp;</h5>
                        <p>Name: EMPLOYEE NAME&emsp;</p>
                        <p>Username: EMPLOYEE USERNAME&emsp;</p>
                        <p>Company: EMPLOYEE COMPANY&emsp;</p>
                    </td>
                    <td>
                        <h5>Your Manager&emsp;</h5>
                        <p>MANAGER'S NAME&emsp;</p>
                    </td>
                    <td>
                        <h5>Your Progress&emsp;</h5>
                        <p>PERCENTAGE&emsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h5>Incomplete Courses:</h5>
                        <p>LIST OF COURSES </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h5>Completed Courses:</h5>
                        <p>LIST OF COURSES </p>
                    </td>
                </tr>
            </table>
        </center>
    </main>

    <%- include ('../partials/footer') %>