<%- include ('../partials/header') %>
  <link rel="stylesheet" href="../../resources/css/style.css">
  <main>
    <center>
      <h2>Welcome!</h2>
      <h5>Log into your account:</h5>
      <span class="fas fa-sign-in-alt"></span>
    </center>
    <div class="container">
      <center>
        <form action="/login" method="POST">
          <div class="form-group col-md-4">
  
            <!-- USERNAME -->
            <div class="form-group">
              <input type="text" class="form-control" aria-describedby="caption" name="username" placeholder="Username" required>
            </div>
    
            <!-- PASSWORD -->
            <div class="form-group">
              <input type="password" class="form-control" aria-describedby="caption" name="password" placeholder="Password" required>
            </div>
  
            <button id="submit_button" class="btn btn-primary" type="submit">Login</button>
        </form>
      </center>
    </div>
    <center>
      <font size="+50">&emsp;</font>
      <p>New User?</p>
      <a href='register'> Register </a>
    </center>
  </main>

  <%- include ('../partials/footer') %>