<%- include ('../partials/header') %>

<main>
  <div class="container">
    <center><form action = "/login" method = "POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <input type="submit" value="Submit" href = "POST /login">
      </form></center>
  </div>
</main>

<%- include ('../partials/footer') %>