<%- include ('../partials/header') %>
  <link rel="stylesheet" href="../../resources/css/style.css">
  <main>
    <center>
      <h2>Welcome!</h2>
      <h5>Log into your account:</h5>
    </center>
    <center><span class="fas fa-sign-in-alt"></span></center>
    <div class="container">
      <center>
        <form action="/login" method="POST">
          <!-- USERNAME -->
          <label for="input" class="form-label">Username</label>
          <input type="text" class="form-control" aria-describedby="caption" id="eventTitle" name="username" required>
    
          <!-- PASSWORD -->
          <label for="input" class="form-label">Password</label>
          <input type="text" class="form-control" aria-describedby="caption" id="eventTitle" name="password" required>
          <br>
          <button id="submit_button" class="btn btn-primary" type="submit">Login</button>
      </form>
          </center>
    </div>
    <center>
      <font size="+50">&emsp;</font>
      <p>New User?</p>
      <a href='register'> Register </a>
    </center>
  </main>

  <%- include ('../partials/footer') %>