<%- include ('../partials/header') %>

    <main>
        <div class="container">
            <header>
                <h1>Logged out succesdfully!!</h1>

            </header>
        </div>
    </main>

    <%- include ('../partials/footer') %>