<%- include ('../partials/header') %>

  <main>
    <div class="container">
      <center>
        <font size="+50">&emsp;</font>
        <table>
          <tr>
            <td>
              <h5>Your Information&emsp;</h5>
              <p>Name: alice &emsp;</p>
              <p>Username: alice &emsp;</p>
              <p>Company: The Company &emsp;</p>
            </td>
            <td>
              <h5>Your Manager&emsp;</h5>
              <p>Richard Mann&emsp;</p>
            </td>
            <td>
              <h5>Your Progress&emsp;</h5>
              <p>[PERCENTAGE]&emsp;</p>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <h5>Incomplete Courses:</h5>
              <p>LIST OF COURSES </p>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <h5>Completed Courses:</h5>
              <p>LIST OF COURSES </p>
            </td>
          </tr>
        </table>
      </center>
    </div>
  </main>

  <%- include ('../partials/footer') %>