<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
<main>
    <center>
      <font size = "+50">&emsp;</font>
      <table>
        <tr>
          <td>
            <h5>Your Information&emsp;</h5>
            <p>Name: EMPLOYEE NAME&emsp;</p>
            <p>Username: EMPLOYEE USERNAME&emsp;</p>
            <p>Company: EMPLOYEE COMPANY&emsp;</p>
          </td>
          <td>
            <h5>Your Manager&emsp;</h5>
            <p>MANAGER'S NAME&emsp;</p>
          </td>
          <td>
            <h5>Your Progress&emsp;</h5>
            <p>PERCENTAGE&emsp;</p>
          </td>
        </tr>
        <tr>
          <td colspan = "3">
            <h5>Current Project:</h5>
            <p>LIST OF PROJECTS </p>
            <p>PROJECT DESCRIPTION</p>
            <h5>Collaborators:</h5>
            <p>LIST OF EMPLOYEES</p>
          </td>
        </tr>
        <tr>
          <td colspan = "3">
            <h5>Incomplete Projects:</h5>
            <p>LIST OF PROJECTS </p>
          </td>
        </tr>
        <tr>
          <td colspan = "3">
            <h5>Completed Projects:</h5>
            <p>LIST OF PROJECTS </p>
          </td>
        </tr>
      </table>
    </center>
  </main>

<%- include ('../partials/footer') %>