<%- include ('../partials/header') %>

        <main>
            <div class="container">

                <h3> [project name] </h3>
                <text> project description </text>
                <br>
                <text> project members </text>
                <br>
                <text> project manager </text>
                
            </div>
        </main>

<%- include ('../partials/footer') %>