<%- include ('../partials/header') %>
    <div class="container">
      <center><form action = "/register" method = "POST">
          <label for="username">Username:</label><br>
          <input type="text" id="username" name="username" required><br>
          <label for="password">Password:</label><br>
<<<<<<< HEAD
          <input type="type" id="password" name="password" value = "password" required><br>
          <label for="password">Confirm Password:</label><br>
          <input type="type" id="password" name="password" value = "confirmPassword" required><br><br>
          /* figure out how to check if two fields are equal and progress if they are */
=======
          <input type="type" id="password" name="password" required><br><br>
>>>>>>> 82cceb705df90a368fb502b83e0f1573819ba0d6
          <input type="submit" value="Register" href = "POST /login">

        </form></center>
    </div>
    <center>
      <font size = "+50">&emsp;</font>
        <p>Already have an account?</p>
        <a href = 'login'> Login </a>
    </center>
  </main>

<%- include ('../partials/footer') %>