<%- include ('../partials/header') %>

  <center>
    <h2>Welcome!</h2>
    <h5>Create your account:</h5>
    <span class="fas fa-user-circle"></span>
  </center>
  <div class="container">
    <center>
      <form action="/register" method="POST">
        <div class="form-group col-md-4">

          <!-- USERNAME -->
          <div class="form-group">
            <input type="text" class="form-control" aria-describedby="caption" name="username" placeholder="Username" required>
          </div>

          <!-- NAME -->
          <div class="form-group">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" aria-describedby="caption" name="username" placeholder="First name" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" aria-describedby="caption" name="username" placeholder="Last name" required>
            </div>
          </div>
        </div>

          <!-- PASSWORD -->
          <div class="form-group">
            <input type="password" class="form-control" aria-describedby="caption" name="password" placeholder="Password" required>
          </div>

          <button id="submit_button" class="btn btn-primary" type="submit">Register</button>
      </form>
  </div>
    <font size="+50">&emsp;</font>
    <p>Already have an account?</p>
    <a href='login'> Login </a>
  </center>
  </main>

  <%- include ('../partials/footer') %>