<%- include ('../partials/header') %>
<center>
    <font size = "+50">&emsp;</font>
    <h2>Welcome to The Company Portal!</h2>
    <font size = "+50">&emsp;</font>
<div class="container">
    <div class="row">
      <div class="col-sm">
          <div class="card" style="width: 15rem; height: 5rem">
            <div class="card-body">
              <h5 class="card-title">New User?</h5>
              <a href = 'register'> Register </a>
            </div>
          </div>
      </div>
      <div class="col-sm">
          <div class="card" style="width: 15rem; height: 5rem">
            <div class="card-body">
              <h5 class="card-title">Returning User?</h5>
              <a href = 'login'> Login </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</center>

<%- include ('../partials/footer') %>