<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <center>
        <p>
            &copy; Copyright 2022 : "The Company"
        </p>
    </center>
</footer>
</body>

</html>