<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
<center>

    <div class="container">
      <div class="row">

        <div class="col-sm">
            <div class="card" style="width: 15rem; height: 20rem">
              <div class="card-body">
                <h5 class="card-title"><a href = 'employee'>Leonora</a></h5>
                <p>EMPLOYEE INFO</p>
              </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card" style="width: 15rem; height: 20rem">
              <div class="card-body">
                <h5 class="card-title"><a href = 'employee'>Michael</a></h5>
                <p>EMPLOYEE INFO</p>
              </div>
            </div>
        </div>

      </div>
    </div>

</center>
</main>

<%- include ('../partials/footer') %>