<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
	<center>

		<h3> Employees:</h3>

		<!-- employee cards -->



	</center>
</main>

<%- include ('../partials/footer') %>